.homeContainer {
    height: 87vh;
    width: 100vw;
    display: flex;
    align-items: center;
}

.textContainer {
    width: 50vw;
    display: flex;
    flex-direction: column;
    padding-left: 120px;
    padding-bottom: 30px;
}

@keyframes expand {
    0% {
        mmargin-left: 100px;
    }
    100% {
        margin-left: 0px;
    }
}

@keyframes typewriter {
    from { width: 0; }
    to { width: 100%; }
}

.typewriter {
    overflow: hidden;
    border-right: 0.15em solid skyblue; /* Cursor-like effect */
    white-space: nowrap;
    width: 0;
    animation: typewriter 4s steps(20, end) forwards,
               blink 0.75s step-end infinite;
}

.empty {
    display: flex;
}

/* Optional - To hide the cursor after the animation completes */
.typewriter.hid-cursor::after {
    animation: blink 0.75s steps(44, end) infinite;
    border-right: 0;
}

@keyframes blink {
    50% { border-color: transparent; }
}

.header {
    font-size: 72px;
    font-weight: 300;
    max-width: fit-content;
}

.subsection1 {
    font-size: 40px;
    font-weight: 100;
}
.subsection2 {
    font-size: 36px;
    font-weight: 100;
}
.subsection3 {
    font-size: 32px;
    font-weight: 100;
}
.subsection4 {
    font-size: 28px;
    font-weight: 100;
}

.carouselContainer {
    width: 50vw;
    display: flex;
    flex-direction: column;
}
