.projectsPageContainer {
    display: flex;
}

.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: auto;
    height: 87vh;
    width:85vw;
    padding-left: 50px;
    padding-right: 50px;

}

.lottieCoding {
    width: 60vw;
    height: 60vh;
}

.sidebarContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 15vw;
    height: 87vh;
    margin-left: 100px;
}